@font-face {
    font-family: "Luciole";
    src: url("/fonts/Luciole-Regular.ttf");
}
@font-face {
    font-family: "Edo";
    src: url("/fonts/edo.ttf");
}
button, .button{
  border-radius: 10px;
  border: 3px dotted;
  border-color: inherit;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 3px;
}


#theme-switcher{
  font-size: 1.3rem;
}
button:hover, button:focus, .button:hover, .button:focus{
  border-style: solid;
  border-color: var(--text-color);
}
a:not(.button){
  color: var(--link-color);
}
a:visited:not(.button){
  color: var(--visited-link-color);
}
a:focus:not(.button), a:visited:focus:not(.button), a:hover:not(.button), a:visited:hover:not(.button){
  color: var(--focus-link-color);
  background-color: var(--link-color);
}
body {
  margin: 10px;
  background: no-repeat;
  background-image: var(--blurhash-bg-image);
  background-image: var(--background-image), var(--blurhash-bg-image);
  background-size: cover;
  background-color: var(--overall-background);
  font-family: "Luciole",sans-serif;
  font-size: 25px;
  color: var(--text-color);
}
header, footer{
  width: 25%;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
h1{
  font-family: "Edo",cursive;
  font-weight: bold;
  font-size: 2em;
}

footer{
  float: right;
}
main{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  width: auto;
}
main>section, main>nav, header, footer {
  padding: 10px;
  border: 20px white;
  border-style: double;
  border-radius: 10px;
  background-color: var(--background-color);
  height: auto;
  flex-grow: 0;
}
main>section, main>nav{
  width: auto;
  margin: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex-basis: 25%;
  flex-grow: 1;
}

header, main nav{
  border-color: #ff00a9;
}
footer{
  border-color: white;
}
input[type=text] {
  width: 85%;
}
