:root{
  --background-color: rgba(249, 249, 249, 0.85);
  --button-color: white;
  --text-color: black;
  --link-color: #0000EE;
  --visited-link-color: #551A8B;
  --focus-link-color: white;
  --blurhash-bg-image: url(../../images/background-light-blurhash.png);
  --background-image: url(../../images/background-light.png);
  --overall-background: #d774ee;
}
